@import url(normalize.css);

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
}

:root {
    --first-color: #FFFFFF;
    --second-color: #13183F;
    --paragraph: #83869A;
    --shadow: rgba(6, 22, 141, .04);
    --linear-gradient: linear-gradient(#FF6F48, #F02AA6);
    --linear-gradient-hover: linear-gradient(#FF6F4880, #F02AA680);
    --linear-gradient-footer: linear-gradient(#4851FF, #F02AA6);
    --ancre-cards: #F74780;
    --linear-gradient-main: linear-gradient(#FFFFFF, #F0F1FF);
}

body {
    background-color: var(--first-color);
}

header {
    padding: 24px 80px;
}

.header {
    display: flex;
    margin: 0 auto;
    width: 80%;
    justify-content: space-between;
}

header img {
    width: 111px;
    height: 28px;
    margin: 16px 0;
}

header a {
    background: var(--second-color);
    text-decoration: none;
    color: var(--first-color);
    border-radius: 28px;
    padding: 16px 32px;
    text-align: center;
    line-height: 150%;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
}

.main {
    padding: 64px 80px;
}

.box-principal {
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
}

.box-left {
    width: 50%;
    margin: 0 32px 0 0;
}

.text {
    width: 458px;
}

.box-left h1 {
    font-size: 56px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0;
    color: var(--second-color);
    margin-bottom: 24px;
}

.box-left p {
    color: var(--paragraph);
    font-size: 18px;
    letter-spacing: 0;
    line-height: 150%;
    font-weight: 500;
    margin-bottom: 40px;
}

.box-left a {
    color: var(--first-color);
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 150%;
    background: var(--linear-gradient);
    padding: 16px 32px;
    border-radius: 28px;
    text-decoration: none;
    transition: all ease 0.3s;
}

.box-left a:hover {
    background: var(--linear-gradient-hover);
}

.image-principal {
    width: 50%;
}

.image-principal img {
    margin-left: 50%;
    width: 317px;
}

.flexbox {
    background-color: var(--linear-gradient-main);
    padding: 64px 80px 144px 80px;
}

.first-column,
.second-column {
    width: 80%;
    display: flex;
    margin: 0 auto;
}

.first-column {
    margin-bottom: 56px;
}

.box-gradient {
    border-radius: 16px;
    margin-right: 32px;
    box-shadow: 0 25px 50px var(--shadow);
    width: 31%;
    padding: 64px 32px 40px 32px;
    color: var(--first-color);
    background: var(--linear-gradient);
}

.box-gradient h1 {
    font-size: 32px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0;
}

.box {
    border-radius: 16px;
    margin-right: 32px;
    box-shadow: 0 25px 50px var(--shadow);
    width: 31%;
    padding: 64px 32px 40px 32px;
}

.final-box {
    margin-right: 0;
}

.description {
    width: 288px;
}

.box img {
    position: relative;
    top: -28px;
    width: 56px;
}

.box h2 {
    font-weight: 900;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 120%;
    color: var(--second-color);
    margin-bottom: 24px;
}

.box p {
    height: 113px;
    color: var(--paragraph);
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 150%;
    margin-bottom: 24px;
}

.box a {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 150%;
    color: var(--ancre-cards);
    text-decoration: none;
}

footer {
    padding: 24px 80px;
    background-color: var(--second-color);
}

.footer {
    background-color: var(--second-color);
    display: flex;
    margin: 24px auto 0 auto;
    width: 80%;
    justify-content: space-between;
}

.footer img {
    width: 111px;
    height: 28px;
    margin: 16px 0;
}

.footer a {
    background: var(--linear-gradient-footer);
    text-decoration: none;
    color: var(--first-color);
    border-radius: 28px;
    padding: 16px 32px;
    text-align: center;
    line-height: 150%;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
}